body {
  font-family: 'Happy Monkey', cursive;
  text-align: center;
  background-color: #fff267;
  color: white;
}

.header {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1, h2, h4, p, .gift-title, .gift-hover-hint {
  text-shadow: 1px 1px 2px black;
}

#jess-pic {
  width: 150px;
  border-radius: 10%;
  border: 6px solid rgb(255, 255, 255);
}

#bday-date {
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0;
  background: #EFB0C9;
}

#bday-age{
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0 10px 0;
  background: #EFB0C9;
}

.gift-section {
  margin-top: 50px;
}


.gift-hover-hint {
  margin-top: 0;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-pic {
  background-image: url("img/gift-cover.jpg");
  background-size: cover;
  width: 400px;
  height: 400px;
  border: 5px solid white;
  border-radius: 5px;
  margin: 0 auto;
}

#first-gift-pic:hover{
  background-image: url("img/Happy.gif");
  transition: .5s;
}

#second-gift-pic:hover{
  background-image: url("img/tom&jerry.gif");
  transition: .5s;
}

#third-gift-pic:hover{
  background-image: url("img/beautiful.gif");
  transition: .5s;
}

#fourth-gift-pic:hover{
  background-image: url("img/Denzel.gif");
  transition: .5s;
}

#fifth-gift-pic:hover{
  background-image: url("img/pizza.gif");
  transition: .5s;
}